.stock-form {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.stock-form input {
  padding: 7px 7px;
  width: 130px;
  font-size: 13px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  min-width: 100px;
}

.stock-form button {
  padding: 7px 20px;
  background-color: #060a1e;
  color: white;
  border: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.stock-form button:hover {
  background-color: #20295f;
}

.stock-form input:focus {
  outline: 2px solid #47a9f88e;
}